body { 
    width: 330px;
    overflow-x: hidden;
   
    
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#url {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

#urlinput {
    display: flex;
    justify-content: center;
    
}
#settings {
    opacity: 0.5;
}

#settings:hover {
   opacity: 1;
   
    
} 

#settings:active {
    
    transition-duration: 0s;
    transform: translateY(2px);
    
}
   
#inputtext {
    height: 19px;
    font-size: 19px;
}

#bottom {
    display: flex;
    justify-content: center;
}

#underline {
    text-decoration: underline;
}

#underline2 {
    text-decoration: underline;
    color: lightskyblue;
    font-style: italic;
}

#time {
    display: flex;
    justify-content: space-evenly;    
    flex-direction: row;
}

#bottom {
    display: flex;
    justify-self: center;
}

#timePeriod {
    font-size: 20px;
}

#timePeriod2 {
    font-size: 15px;
}

.start {
    position: relative;
    bottom: 0px;
}

#timeexplained{
    display: flex;
    justify-self: center;
}

#urlbutton {
    background-color: aqua;
    height: 26px;

}

